<div class="card bg-light rounded-2 shadow overflow-hidden">
    <a href="#" class="card-img d-flex justify-content-center align-items-center">
      <img
        src="{{ carImageUrl }}"
        class="card-img-top"
        alt="Rent {{ productDetail.brandName }} {{
          productDetail.Name
        }} - ReCapProject"
      />
    </a>
    <div class="card-body">
      <span
        class="model-year border border-secondary text-muted rounded-1 px-3 fw-light"
      >
        {{ productDetail.modelYear }}
      </span>
      <h5 class="card-title">
        {{ productDetail.brandName }} {{ productDetail.Name }}
      </h5>
      <p class="mt-1 card-text text-primary fs-3">${{ productDetail.dailyPrice }}</p>
      <a href="#" class="btn btn-primary w-100">Rent Now</a>
    </div>
  </div>